* {
    margin: 0;
    text-decoration: none;
}

header {
    background: pink;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index:100;
    position: fixed;
}

header h2 {
    display: inline-block;
    padding: 15px 15px;
}

header nav ul {
    display: inline;
    margin: 0;
    list-style-type: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

header nav ul li {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    background-color: #d43fee39;
    transition: all 0.5s;
    text-align: center;

}

aside {
    /* top: 50px; */
    right: 0;
    position: absolute;
    height:100%;
    display: block;
    background-color: rgb(180, 116, 180);
}

aside nav ul{
    display: block;
    list-style-type: none;
    padding: 0px 10px;
}

aside h2 {
    font-family: helvetica, arial, sans-serif;
    padding: 20px 10px;
}

aside nav ul li {
    padding: 20px 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.parent-wrap {
    top: 50px;
    position: relative;
    display: block;
}
.section-parent {
    display: inline-block;
    position: relative;
    width: 75%;
}

.section-parent section {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    padding: 1em;
    position: relative;
}

.section-parent section img {
    box-shadow: pink;
}

footer {
    height: 2em;
    width: 100%;
    background-color: rgb(221, 147, 147);
    display: block;
    z-index: 100;
    position: relative;
    bottom: 0;
}



footer nav ul {
    list-style-type: none;
    display: inline;
    position: absolute;
    top: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

footer nav ul li {
    display: inline-block;
    padding: 5px 20px;
    color: black;
    
}

div section{
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    padding-left: 1em;
}

div section h1 {
    color: rgb(170, 83, 97);
    text-align: center;
}

div section figure figcaption p{
    text-align: center;
}

div section figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1em;
}

div section h2 {
    color: rgb(170, 83, 97);
    padding: 10px 5em;
}

div section ul {
    padding-left: 5em;
    padding-bottom: 0px;
    padding-top: 0px;
}

div section ol {
    padding-left: 5em;
    padding-bottom: 0px;
    padding-top: 0px;
}













