
a {
    text-decoration: none;
}
/* wrapper + inside */

.wrapper {
    padding: 50px 0 0 0;
    display: block;
    width: 100%;
    position: relative;
    background: url('../img/memphis-mini.png');
}

.page-wrapper {
    background: rgba(128, 128, 128, 0.469);
}

.my-logo {
    top: 50px;
    width: 100%;
    /* height: 200px; */
    border-bottom: .5px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}


.my-logo img {
    height: auto;

}

.main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.dir {
    width:50%;
    position: relative;
    padding: 1rem;
}

.img-holder {
    width: 100%;
}

.img-holder img {
width: 100%;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.dir:hover .mask {
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease-in-out;
    
}


.dir:hover img {
    filter: grayscale(100%) blur(5px);
}
.bottom-text {
display: none;
}

.mask p {
    width: 90%;
    text-align: center;
    font-style: italic;
    color: white;
    padding: 1rem;
    font-size: 2rem;
}


.main-body a {
    font-family: "Concert One", sans-serif;
    /* padding: 1rem 0; */
    background: #8365acb3;
    color: black;
    font-size: 2rem;
    
    padding: 1rem;
    border-radius: 4px;
    transition: all 1s ease-in-out;
    /* margin: 2rem 3rem; */
}

.main-body a:hover {
    background: #6418cdb3;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .wrapper {
        padding: 100px 0 0 0;

    }

    .my-logo img{
        width: 90%;
    }

    .dir {
        flex-direction: column;
    }

    .dir:hover .mask {
        display: none;
    }

    .dir:hover img {
       filter: none;
    }

    .bottom-text {
        display: block;
        text-align: center;
        width: 100%;

    }

    .bottom-text a {
        font-size: 1rem;
    }
    .bottom-text p {
        padding: 1.5rem 0;
    }


    



   

    footer {
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }


}
