

/* middle */
.wrapper {
    padding: 50px 0 0 0;
    display: block;
    background: url('../img/memphis-mini.png');
}

.title {
    display: flex;
    justify-content: center;
    border-bottom: .5px solid rgba(0, 0, 0, 0.2);
    /* background: white; */
}

.project {
    display: block;
    width: 100%;
    background: white;
}

.project h2 {
    text-align: center;
    padding: 1rem 0 .5rem 0;
}

.project p {
    text-align: center;
    padding: 1rem 2rem;
}

.img-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.img-inside {
    width: 20%;

}

.img-inside img {
    width: 100%;
    height: auto;
}

.dress-yourself .img-inside{
    width: 20%;
    padding: .5rem;

}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 100px 0 0 0;
    }

    .title img{
        width: 95%;
    }

    .img-wrapper {
        flex-direction: column;
        
    }

    .img-inside {
        width: 95%;
        padding: 1rem;
    }

    .proj-description h2 {
        padding: 1rem;
    }

    .proj-description p {
        padding: .5rem;
    }

    .dress-yourself .img-inside{
        width: 50%;
        padding: .5rem;
    
    }
}

