/* Universal styling */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* header + nav */

header {
    width: 100%;
    background: rgb(230, 169, 230);
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* flexbox container properties */
    display: flex; 
    /* only applies to one level of nesting */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    /* background-color: rgba(40,40,40,.1); */
    align-items: center;
}

nav ul li {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    /* centering */
    width: 120px;
}

nav {
    height: 100%;
    display: block;
}

nav a {
    text-decoration: none;
    display: block;
    color: black;
    transition: all 1s;
}

nav a:hover {
    background-color: rgba(40,40,40,.5);
    color: white;

}

nav a.active {
    background-color: rgba(178, 85, 134, 0.792);
    color: white;

}

/* middle */

.wrapper {
    padding: 50px 0 0 0;
    display: block;
    background: url('../img/memphis-mini.png');
}


.title {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.488);
    background: white;
}

.title img {
    height: 100%;
}

.person {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.person img {
    height: 100%;
}

.clothing-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

}

/* HELP: how to make click and drag */

.textile {
    width: 23%;
    padding: 2rem 0;
}

.textile img {
    width: 100%;
}
/* footer */
footer {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(195, 161, 185);
}

footer a {
    text-decoration: none;
    height: 100%;
    display: block;
    color: black;
    transition: all 1s;

}

/* HELP: how to make it hover over the whole height? */
footer a:hover {
    background-color: rgba(40,40,40,.5);
    color: white;

}