

/* middle */

.wrapper {
    padding: 50px 0 0 0;
    display: block;
    background: url('../img/memphis-mini.png');
    
}

.over-wrap {
    background: white;
    display: block;
}


.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid rgba(0, 0, 0, 0.2);

    /* background: white; */
}

.title img {
    height: 100%;
   
}

.person {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 0 1rem;
    margin-bottom: 2rem;
    height: 600px;

}

.person img {
   
    height: 100%;
    padding-top: 1rem;
}

.clothing-wrapper {
    /* display: flex; */
    display: inline-block;
    position: relative;
    width: 100%;
    height: 500px;
    padding: 1rem;
    
}

/* HELP: how to make click and drag */

.textile {
    /* width: 25vw; */
    /* padding: 2rem; */
    /* position: absolute; */
    z-index: 10;
    cursor: move;
    position: absolute;

}

#vest{
    top: 0;
    left: 15vw;
    width: 12vw;
    
    
    
}

.textile:hover {
    filter: drop-shadow(.5rem .5rem .5rem rgba(0,0,0,.5));
}

#hat {
    top: 0;
    left: 45vw;
    width: 13vw;
    
}

#scarf {
    top: 0;
    left: 70vw;
    width:20vw;
    
}

.textile img {
    width: 100%;
}

.mobile-img {
    display: none;
}

.instructions {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}

/* MOBILE */

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 100px 0 0 0;
    }

    .title img {
        width: 80%;
    }

    .person {
        display: none;
    }

    .textile {
        display: none;
       
    }

    .clothing-wrapper {
        display: none;
    }

    .mobile-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-textile {
        width: 50%;
        padding: 1rem;
    }

    .mobile-textile img {
        width: 100%;
        height: auto;
    }

    .instructions {
        display: none;
    }
}
