

/* middle */

.wrapper {
    padding: 50px 0 0 0;
    display: block;
    background: url('../img/memphis-mini.png');
    
}

.over-wrap {
    background: white;
    display: block;
}


.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid rgba(0, 0, 0, 0.2);

    /* background: white; */
}

.title img {
    height: 100%;
   
}

.person {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2rem;

}

.person img {
    height: 100%;
}

.clothing-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    height: 400px;
    padding: 1rem;
    
}

/* HELP: how to make click and drag */

.textile {
    width: 25vw;
    /* padding: 2rem; */
    position: absolute;
    z-index: 10;
    cursor: move;

}

.sweater {
    top: 0;
    left: 5vw;
}

.hat {
    top: 0;
    left: 37.5vw;
}

.scarf {
    top: 0;
    left: 70vw;
}

.textile img {
    width: 100%;
}

/* MOBILE */

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 100px 0 0 0;
    }

    .title img {
        width: 80%;
    }

    .person {
        margin-bottom: 1rem;
    }

    .textile {
        width: 25%;
    }

    .sweater {
        left: 5vw;
    }

    .clothing-wrapper {
        height: 200px;
    }
}
